# -XepAllErrorsAsWarnings
# -XepAllSuggestionsAsWarnings
# -XepDisableWarningsInGeneratedCode
# These are real tests
-Xep:UnicodeEscape:OFF
-Xep:InvalidBlockTag:OFF
-Xep:JavaUtilDate:OFF
# This is not a problem in older error-prone
-Xep:LabelledBreakTarget:OFF
-Xep:JUnit4TestNotRun:OFF
-Xep:ComparableType:OFF
-Xep:EqualsHashCode:WARN
-Xep:SelfEquals:WARN
-Xep:ReturnValueIgnored:WARN
-Xep:ArrayToString:WARN
-Xep:MisusedDayOfYear:WARN
-Xep:SelfComparison:WARN
-Xep:MisusedWeekYear:WARN
-Xep:IdentityBinaryExpression:WARN
