# -XepAllErrorsAsWarnings
# -XepAllSuggestionsAsWarnings
# -XepDisableWarningsInGeneratedCode
# These are real tests
-Xep:UnicodeEscape:OFF
-Xep:InvalidBlockTag:OFF
-Xep:JavaUtilDate:OFF
# Several flags on a single line are acceptable:
-Xep:LabelledBreakTarget:OFF -Xep:JUnit4TestNotRun:OFF -Xep:ComparableType:OFF
-Xep:EqualsHashCode:WARN
-Xep:SelfEquals:WARN
-Xep:ReturnValueIgnored:WARN
# Indents:
  -Xep:ArrayToString:WARN
  -Xep:MisusedDayOfYear:WARN
  -Xep:SelfComparison:WARN
-Xep:MisusedWeekYear:WARN
-Xep:IdentityBinaryExpression:WARN
